---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <!-- <h1
    class="flex items-center justify-center border-black text-5xl font-extrabold"
  >
    Coming soon
  </h1> -->
  <iframe
    src="/peter-resume.pdf"
    style="width: 100%;height: 100vh;border: none;"></iframe>
</MainLayout>
