---
import Badge from "../components/Badge.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <div
    class="my-16 flex flex-col-reverse items-center justify-around md:flex-row"
  >
    <!-- Main Content -->
    <div class="flex flex-col items-center">
      <h1 class="z-10 text-5xl font-extrabold text-white sm:text-7xl">
        Peter An <br />Full-stack <br /> Engineer
      </h1>
      <p class="z-10 my-8 w-80 text-center text-lg text-gray-200">
        "Chasing for inspiration"
      </p>
      <div class="flex items-center justify-around">
        <Icon icon="mdi:github" link="https://github.com/Exotica0122" />
        <Icon
          icon="mdi:linkedin"
          link="https://www.linkedin.com/in/peteransoftware/"
        />
        <Icon
          icon="ic:baseline-discord"
          link="https://www.discordapp.com/users/Exotica#5946"
        />
      </div>
    </div>
    <div class="flex flex-col items-center justify-center md:flex-row">
      <img
        class="h-64 w-64 rounded-full border-white object-cover shadow-2xl sm:h-72 sm:w-72 md:h-96 xl:h-[30rem] xl:w-96"
        src="/images/profile.jpg"
        alt="Peter An"
      />
      <p class="p-6 tracking-[1rem] text-white opacity-60 md:rotate-90 md:p-0">
        Exotica
      </p>
    </div>
  </div>

  <!-- Tech skills -->
  <div class="mt-44 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold tracking-wide text-white">Tech skills</h1>
    <div
      class="mt-4 flex flex-wrap items-center justify-around px-6 pb-20 md:gap-6 xl:gap-12"
    >
      <Badge>
        <a href="https://reactjs.org/" target="_blank">
          <img src="/images/react-logo.png" alt="React" />
        </a>
      </Badge>
      <Badge>
        <a href="https://astro.build/" target="_blank">
          <img src="/images/astro-logo.png" alt="Astro" />
        </a>
      </Badge>
      <Badge>
        <a href="https://tailwindcss.com/" target="_blank">
          <img src="/images/tailwind-logo.png" alt="Tailwind" />
        </a>
      </Badge>
      <Badge>
        <a href="https://nodejs.org/en/" target="_blank">
          <img src="/images/node-logo.png" alt="NodeJS" />
        </a>
      </Badge>
    </div>
  </div>

  <!-- About me -->
  <div
    class="mb-20 flex flex-col items-center justify-center gap-2 lg:flex-row"
  >
    <img
      src="/images/profile.jpg"
      alt="Peter"
      class="w-60 overflow-hidden rounded-full"
    />
    <div
      class="flex flex-col items-start justify-center gap-2 p-16 md:w-2/3 md:p-8 xl:w-3/5 xl:p-24"
    >
      <h1 class="text-3xl font-bold tracking-wide text-white">About Me</h1>
      <p class="mt-4 text-white">
        I am currently a <span class="font-bold"
          >Bachelor of Computer and Infomation Sciences</span
        > student from <span class="font-bold">AUT.</span>
        <br />
        I love to share my passion about tech with my surrounding and want to inspire
        develops with my work.
      </p>
      <div class="mt-4 self-end">
        <a href="https://www.linkedin.com/in/peteransoftware/" target="_blank">
          <Button>Check out my LinkedIn</Button>
        </a>
      </div>
    </div>
  </div>

  <!-- Latest Portfolio -->
  <div class="my-20">
    <div class="flex flex-col items-center justify-center md:items-start">
      <h1 class="text-3xl font-bold tracking-wide text-white">
        Latest Portfolio
      </h1>
      <p class="mt-4 w-1/2 text-white">
        Here are some of my previous projects. I am still a beginner in the web
        space so I still got lots to learn!
      </p>
    </div>

    <!-- Card Grid -->
    <div class="mx-12 my-24 grid gap-12 md:mx-0 md:grid-cols-2 xl:grid-cols-3">
      <Card
        title="Exotica Portfolio"
        description="This is my personal website built with Astro and Tailwind"
        image="images/personal-portfolio.jpg"
        icon="mdi:github"
        iconLink="https://github.com/Exotica0122/exotica-portfolio"
      />
      <Card
        title="HABPI"
        description="An Amazon clone for animal service care"
        image="images/habpi.jpg"
        icon="mdi:github"
        iconLink="https://github.com/Exotica0122/HABPI-frontend"
      />
      <Card
        title="NZ COVID Tracker"
        description="A simple Discord bot for latest COVID cases"
        image="images/covid.jpg"
        icon="mdi:github"
        iconLink="https://github.com/Exotica0122/HABPI-frontend"
      />
    </div>
  </div>

  <!-- Connect With Me! -->
  <div
    class="flex w-full flex-col items-center justify-center px-4 text-white md:py-12 md:px-40"
  >
    <div
      class="flex h-12 w-12 items-center justify-center rounded-full bg-gradient-to-bl from-red-500 to-orange-400 shadow"
    >
      <h2 class="select-none text-2xl font-extrabold">P</h2>
    </div>
    <h1
      class="mt-8 mb-4 text-center text-3xl font-bold tracking-wide text-white"
    >
      Connect With Me!
    </h1>
    <p class="mb-8 text-center">
      I am always wanted to improve and talk with other developers so don't be
      afraid to connect and message me!
    </p>
    <div class="flex">
      <Badge size="sm">
        <Icon
          icon="mdi:github"
          link="https://github.com/Exotica0122"
          hover="false"
        />
      </Badge>
      <Badge size="sm">
        <Icon
          icon="mdi:linkedin"
          link="https://www.linkedin.com/in/peteransoftware/"
          hover="false"
        />
      </Badge>
      <Badge size="sm">
        <Icon
          icon="ic:baseline-discord"
          link="https://www.discordapp.com/users/Exotica#5946"
          hover="false"
        />
      </Badge>
    </div>
  </div>
</MainLayout>
