---
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout>
  <h1
    class="flex items-center justify-center border-black text-5xl font-extrabold"
  >
    Coming soon
  </h1>
</MainLayout>
