---
const { size = "md" } = Astro.props;

let iconSize;

if (size == "sm") iconSize = "w-20 h-20";
if (size == "md") iconSize = "w-32 h-32 p-6";
if (size == "lg") iconSize = "w-70 h-70";
---

<div
  class={`m-4 flex ${iconSize} select-none items-center justify-center overflow-hidden 
  rounded-full bg-gray-800 bg-opacity-90 shadow-xl transition-transform duration-100 ease-in hover:scale-125`}
>
  <slot />
</div>
