---
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
  <div class="break-words bg-white p-6">
    <slot />
  </div>
</MainLayout>

<style is:global>
  h1 {
    font-size: 1.5rem;
  }
</style>
