---
import { Icon } from "astro-icon/components";

interface ButtonProps {
  icon: string;
  iconSide: "left" | "right";
  size: "sm" | "md" | "lg";
}

const { icon, iconSide, size = "md" } = Astro.props as ButtonProps;
let iconSize: number;

if (size == "sm") iconSize = 8;
else if (size == "md") iconSize = 20;
else iconSize = 28;
---

<button
  class="flex items-center gap-1 rounded-full bg-gradient-to-t from-orange-400 to-orange-500 py-2 px-5 text-white transition-transform ease-in-out hover:scale-110"
>
  {icon && iconSide === "left" && <Icon name={icon} size={iconSize} />}
  <slot>Button</slot>
  {icon && iconSide === "right" && <Icon name={icon} size={iconSize} />}
</button>
