---
import { Icon as AstroIcon } from "astro-icon/components";

const { icon, link, hover = "true" } = Astro.props;
---

{
  link ? (
    <a
      href={link}
      class={`m-4 cursor-pointer text-stone-100 transition-transform duration-100 ease-in ${
        hover === "true" && "hover:scale-125"
      }`}
      target="_blank"
    >
      <AstroIcon name={icon} size={48} />
    </a>
  ) : (
    <div
      class={`m-4 transition-transform duration-100 ease-in ${
        hover === "true" && " hover:scale-125"
      }`}
    >
      <AstroIcon name={icon} size={48} />
    </div>
  )
}
