---
import Nav from "./Nav.astro";

interface MainLayoutProps {
  title: string;
}

const { title = "Exotica Portfolio" } = Astro.props as MainLayoutProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen bg-gradient-to-r from-red-500 to-purple-900 md:px-32"
  >
    <Nav />
    <main class="p-12">
      <slot>A default text</slot>
    </main>
  </body>
</html>
